.container {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--background-default);
		color: var(--text-secondary);
		font-family: system-ui, sans-serif;
		width: 100%;

		.card {
				background: var(--background-second);
				border: 1px solid var(	--border-primary);
				border-radius: 12px;
				padding: 40px 32px;
				width: 100%;
				max-width: 420px;
				box-shadow: 0 10px 25px var(--box-shadow-dark);

				.title {
						font-size: 28px;
						font-weight: 600;
						text-align: center;
						margin: 0 0 8px;
						color: var(--text-primary);
				}

				.subtitle {
						color: var(--text-secondary);
						text-align: center;
						font-size: 15px;
						margin-bottom: 32px;
				}

				.field {
						margin-bottom: 24px;

					.label {
								display: block;
								font-size: 14px;
								margin-bottom: 8px;
								color: var(--label-text-primary);
								font-weight: 500;
						}

						.inputWrapper {
								position: relative;
						}

						.input {
								width: 100%;
								padding: 12px 16px;
								background: var(--background-input);
								border: 1px solid var(--border-secondary);
								border-radius: 8px;
								color: var(--text-secondary);
								font-size: 16px;
								transition: border-color 0.2s, box-shadow 0.2s;

								&:focus {
										outline: none;
										border-color: var(--border-secondary);
										box-shadow: 0 0 0 3px var(--box-shadow-light);
								}

								&::placeholder {
										color: var(--placeholder-text);
								}
						}

						.error{
								color: var(--red-400);
								fontSize: 14px;
								marginTop: 4px
						}

						.passwordToggle {
								position: absolute;
								right: 16px;
								top: 50%;
								transform: translateY(-50%);
								background: none;
								border: none;
								color: var(--gray-800);
								cursor: pointer;
								font-size: 17.6px;
								width: 20px;
								height: 20px;
						}
				}

				.options {
						display: flex;
						justify-content: space-between;
						align-items: center;
						font-size: 14px;
						margin-bottom: 24px;
						color: var(--gray-400);

						.checkboxLabel {
								display: flex;
								align-items: center;
								gap: 8px;
								cursor: pointer;
						}

						.forgot {
								color: var(--blue-400);
								text-decoration: none;
								&:hover {
										text-decoration: underline;
								}
						}
				}

				.button {
						width: 100%;
						padding: 14.4px;
						background: var(--blue-600);
						color: var(--text-primary);
						border: none;
						border-radius: 8px;
						font-size: 16px;
						font-weight: 500;
						cursor: pointer;
						transition: background 0.2s;

						&:hover {
								background: var(--blue-700);
						}
						&:disabled {
								background: var(--gray-800);
								cursor: not-allowed;
						}
				}

				.signup {
						text-align: center;
						margin-top: 24px;
						font-size: 15px;
						color: var(--gray-400);

						.signupLink {
								color: var(--blue-300);
								text-decoration: none;

								&:hover {
										text-decoration: underline;
								}
						}
				}


		}
}
