:root {
		--background-default: #0a0a0f;
		--background-second: #111827;
		--background-input: #0f172a;
		--dark-background-answer-background: #252733;

		--text-primary: #f1f5f9;
		--text-secondary:  #e2e8f0;
		--label-text-primary: #cbd5e1;
		--placeholder-text:#64748b;

		--blue-300:#60a5fa;
		--blue-400:#60a5fa;
		--blue-600:#3b82f6;
		--blue-700:#2563eb;
		/* Grays */
		--gray-400: #94a3b8;
		--gray-800: #475569;


		--gray-50:  #D5D7DB;
		--gray-100: #70737A;
		--gray-200: #B0B3B8;
		--gray-300: #B8B8B8;
		--gray-600: #333333;

		--red-400:#f87171;

		/* other */
		--border-primary:#1e293b;
		--border-secondary: #334155;
		--box-shadow-dark: rgba(0, 0, 0, 0.4);
		--box-shadow-light: rgba(59, 130, 246, 0.2);

		--color-blue: oklch(69% 50% 264deg);
		--color-red: oklch(80% 55% 31deg);

		--color-gray-50: oklch(17% 0.25% 264deg);
		--color-gray-100: oklch(28% 0.75% 264deg / 65%);
		--color-gray-200: oklch(29% 0.75% 264deg / 80%);
		--color-gray-300: oklch(35% 0.75% 264deg / 80%);
		--color-gray-400: oklch(47% 0.875% 264deg / 80%);
		--color-gray-500: oklch(64% 1% 264deg / 80%);
		--color-gray-600: oklch(82% 1% 264deg / 80%);
		--color-gray-700: oklch(92% 1.125% 264deg / 80%);
		--color-gray-800: oklch(93% 0.875% 264deg / 85%);
		--color-gray-900: oklch(95% 0.5% 264deg / 90%);
		--color-gray-950: oklch(94% 0.375% 264deg / 95%);
}
